{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Snippetbox</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header>
            <h1><a href="/">Snippetbox</a></h1>
            {{template "nav" .}}
        </header>
        <main>
            {{template "main" .}}
        </main>
        <footer>
            Powered by <a href="#">binary code</a> in {{.CurrentYear}}
        </footer>
    </body>
</html>
{{end}}
